<div class="container">
    <form method="POST" action="/create">
      <div class="row">
        <div class="col-25">
          <label for="body">Body</label>
        </div>
        <div class="col-75">
          <textarea id="body" name="body" placeholder="Write something (Markdown supported!)" style="height:200px"></textarea>
        </div>
      </div>
      <div class="row">
        <div class="col-25">
          <label for="title">Title</label>
        </div>
        <div class="col-75">
          <input type="text" id="title" name="title" placeholder="Title (Optional)">
        </div>
      </div>
      <div class="row">
        <div class="col-25">
          <label for="imgs">Image URLs</label>
        </div>
        <div class="col-75">
          <input type="text" id="imgs" name="imgs" placeholder="Image URLs (separated by commas)">
        </div>
      </div>
      <div class="row">
        <div class="col-25">
          <label for="datetime">Timestamp</label>
        </div>
        <div class="col-75">
          <input type="text" id="datetime" name="datetime" placeholder="Timestamp">
        </div>
      </div>
      <div class="row">
        <div class="col-25">
          <label for="password">Passcode</label>
        </div>
        <div class="col-75">
          <input type="password" id="password" name="password" placeholder="******">
        </div>
      </div>
      <div class="row">
        <input type="submit" value="Submit">
      </div>
    </form>
  </div>