<!DOCTYPE html>
<html>
<head>
  {% block head %}{% endblock %}
</head>
<body>
  {% block header %}{% endblock %}
  {% block main %}
    {% block scripts %}{% endblock %}
  {% endblock %}
  {% block footer %}{% endblock %}
</body>
</html>